header {
  padding: 44px 0 0;
}
.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  flex-shrink: 0;
  @include flexCenter;
  font-weight: 800;
  font-size: 24px;
  color: $white;
  background-color: #0e76bc;
  text-transform: uppercase;
  @include max-767 {
    width: 48px;
    font-size: 18px;
  }
}
.align-header {
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: flex-start;
  @include max-767 {
    gap: 15px;
  }
}
.main-logo {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 8px;
  border-radius: 35px;
  backdrop-filter: blur(54px);
  color: $sec;
  font-weight: 600;
  font-size: 22px;
  padding: 5px 24px 5px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  @include max-991 {
    font-size: 14px;
    padding: 5px;
    img {
      width: 40px;
    }
  }
}
