body.bodyCont {
  background-color: $white;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url(../images/body-bg.svg);
  background-size: cover;
  background-position: center;
}
